<!DOCTYPE html>
<html lang="ko">
<head>
<title>{% block title %}Django Web Programming{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>
<div id="header">
	<h2 class="logo">
		<a href="{% url 'home' %}"><img src="{% static 'img/hallym_logo.png' %}" style="height:30px;"/></a></h2>
	<h2 class="maintitle"><a href="{% url 'home' %}">Scode</a></h2>
	{% if request.session.is_loggedin %}
	<h4 class="welcome">Welcome, {{ request.session.name }}!
		<a href="#">Change Password</a> /
		<a href="{% url 'logout' %}">Logout</a>
	</h4>
	{% else %}
	<h4 class="welcome">Welcome, Anonymous /
		<a href="{% url 'login' %}">Login</a>
	</h4>
	{% endif %}
</div>
{% comment %}
<div id="menu">
	<li><a href="{% url 'judge:professor' %}">Professor</a>
		<ul style="width:322px;">
			<li><a href="{% url 'judge:subject' %}">Subject</a></li>
			<li><a href="{% url 'judge:add' %}">Add</a></li>
			<li><a href="{% url 'judge:update' %}">Update</a></li>
			<li><a href="{% url 'judge:delete' %}">Delete</a></li>
			<li><a href="{% url 'judge:settings' %}">Settings</a></li>
			<li><a href="{% url 'judge:result' %}">Result</a></li>
		</ul>
	</li>
	<li><h2>This menu for debug</h2></li>
</div>
{% endcomment %}
{% block content %}{% endblock %}
{% block footer %}
<div id="footer">
	&copy; scode team
	&nbsp; &nbsp; &nbsp; &nbsp;
	<a href="https://github.com/BJ-Lim/Capstone_Design">Our git</a>
	&nbsp; &nbsp; &nbsp; &nbsp;
	<a href="https://github.com/DMOJ">Dmoj-project</a>
</div>
{% endblock footer %}
</body>
</html>
