{% extends "base.html" %}

{% block title %}student_main_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1>Welcome, {{ request.session.student_name }}({{ request.session.student_id }})!</h1>
	<table>
		<tr>
			<th>title</th>
		</tr>

		{% for obj in subject_list_sql %}
		<tr>
			<td>
				<form id='{{ obj.title }}_{{ obj.classes}}' method="post" action="{% url 'judge:subject' obj.title obj.classes %}">{% csrf_token %}
					<input type="hidden" name="title" value="{{ obj.title }}"/>
					<input type="hidden" name="classes" value="{{ obj.classes }}"/>
					<input type="hidden" name="subject_id" value="{{ obj.subject_id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.title }}_{{ obj.classes }}").submit();>{{ obj.title }}_{{ obj.classes }}</a>
				</form>
			</td>
		</tr>
		{% endfor %}


	</table>

</div>
{% endblock content %}
