{% extends "base.html" %}

{% block title %}student_subject_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1> {{ request.session.title }}_{{ request.session.classes}} </h1>
	<table>
		<tr>
			<th>sequence</th>
			<th>assginment_name</th>
			<th>deadline</th>
			<th>state</th>
			<th>score</th>
		</tr>

		{% for obj in expired_assignment_list %}
		<tr>
			<td>{{ obj.sequence }}</td>
			<td>{{ obj.assignment_name }}</td>
			<td>{{ obj.deadline }}</td>
			<td>expired</td>
			<td>{% if obj.score %}
				{{ obj.score }}
			    {% else %}
				0
			    {% endif %}
			    &nbsp / &nbsp {{ obj.max_score }}
			</td>

		</tr>
		{% endfor %}

		{% for obj in not_expired_assignment_list %}
		<tr>
			<td>{{ obj.sequence }}</td>

			<td>
				<form id='{{ obj.sequence }}' method="post" action="{% url 'judge:std_assign' request.session.title request.session.classes obj.sequence%}">{% csrf_token %}
					<input type="hidden" name="sequence" value="{{ obj.sequence }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.sequence }}").submit();>{{ obj.assignment_name }}</a>
				</form>
			</td>
			<td>{{ obj.deadline }}</td>
			<td>working</td>
			<td>{% if obj.score %}
				{{ obj.score }}
			    {% else %}
				0
			    {% endif %}
			    &nbsp / &nbsp {{ obj.max_score }}
			</td>

		</tr>
		{% endfor %}

	</table>

</div>
{% endblock content %}
